/*this style sheet for  css table propertis*/
body{
    text-align: left;
}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    
}
table{
    width: 50%;
    height:300px;
}
tr,th,td{
    text-align: left;
    padding: 5px;
}
tr:hover{
    background-color: yellow;
    color: red;

}
th{
    font-size: 20px;
}
